<h1 style="font: 'Air New Zealand Logo'; color: #aaaaa4">Carina Release Manager</h1>

<h1 style="color: orangered; font-style: Verdana">
    Error Message
    <span style="color: #8c8c8c; font-size: medium">
        Please contact app admin to fix the problem
    </span>
</h1>

<h1 style="color: mediumblue"><%=error.status%></h1><img src="assets\img\404.jpg" >

<br />
<br />
<a href="/" ><img src="assets\img\b2h.png" height="50" width="250" ></a>
<!--<a href="/" ><button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-animation="am-flip-x" placement="bottom" aria-haspopup="true" aria-expanded="false" bs-dropdown> Back to Home Page </button></a>-->

<pre style="font-size: large; color: #8a849d"><%=error.stack%></pre>


