<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <!-- <a href="#/dashboard" class="al-logo clearfix"><span>Blur</span>Admin</a> -->
    <a href="#/dashboard" class="al-logo clearfix"><span></span>C R M <span></span><span><i class="fa fa-plane" aria-hidden="true"></i></span><span></span></a>
    <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

<!--   <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

    <!--<h2 class="page-top-title"> Air New Zealand Limited</h2>-->


   <div class="search">
    <!--<i class="ion-ios-search-strong" ng-click="startSearch()"></i>-->
    <!--<input id="searchInput" type="text" placeholder="Search for...">-->
       <span style="color: #cfcfcf; font: 'Air New Zealand Logo'; padding-left: 20%"><b>{{currentUser}}</b></span>
  </div>

  <div class="display-username">
      <span style="color: white; font-size: larger"><span style="color: red; font-size: x-large">C</span>ARINA <span style="color: red; font-size: x-large">R</span>ELEASE <span style="color: red; font-size: x-large">M</span>ANAGER</span>
  </div>

    <!--<div class="al-user-profile">-->

    <!--</div>-->
     <!--<div class="al-user-profile" uib-dropdown>-->
      <!--<a uib-dropdown-toggle class="profile-toggle-link">-->
        <!--<img ng-src="{{::( 'Nasta' | profilePicture )}}">-->
      <!--</a>-->
      <!--<ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>-->
        <!--<li><i class="dropdown-arr"></i></li>-->
        <!--<li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>-->
        <!--<li><a href><i class="fa fa-cog"></i>Settings</a></li>-->
        <!--<li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!-- <msg-center></msg-center> -->


</div>