<!--<script src="../../app.js"></script>-->
<div class="dashboard">
    <!--<div>-->
        <!--<button type="button" class="btn btn-md btn-success centre" data-toggle="modal" ng-click="open('app/pages/serrcs/model/SerrcAddModal.html', 'lg')" ng-controller="ManipulateSerrcModelCtrl">Add Serrc</button>-->
        <!--<button type="button" class="btn btn-md btn-danger" data-toggle="modal" ng-click="open('app/pages/serrcs/model/SerrcDeleteModal.html', 'sm')" ng-controller="ManipulateSerrcModelCtrl">Delete Serrc</button>-->
    <!--</div>-->
  <div class="row" >
        <div class="col-md-16">
          <div ba-panel >
              <div include-with-scope="app/pages/serrcs/SerrcListTable.html" ng-controller="SerrcCtrl"></div>
          </div>
        </div>
  </div>
</div>